@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Marko/OneDrive/WATFOI%20WEB/WATFOI%20v2.6.1//fonts/Anton/regular.ttf') format('truetype');
}
